.nav {
  position: fixed;
  left: 0;
  top: 0;
  background: var(--body-color);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2.5rem;
  width: 110px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.nav__link {
  font-size: 1.5rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__link:hover {
  color: hsl(110, 100%, 68%);
}

.copyright {
  color: hsl(247, 22%, 75%);
  font-size: var(--small-font-size);
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

.sidebar-desktop {
  display: block;
}
.sidebar-mobile {
  display: none;
}
.sidebar-mobile-horizontal {
  display: none;
}

@media (max-width: 768px) {
  .sidebar-desktop {
    display: none;
  }
  .sidebar-mobile {
    display: block;
    width: 100vw;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .sidebar-mobile-horizontal {
    display: block;
    width: 100vw;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 48px;
  }
  .nav__list--mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0.5rem 0;
    list-style: none;
  }
  .nav__list--mobile .nav__item {
    margin: 0;
  }
  .nav__list--mobile .nav__link {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--title-color);
  }
  .nav__list--mobile-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
  }
  .nav__list--mobile-horizontal .nav__item {
    margin: 0;
  }
  .nav__list--mobile-horizontal .nav__link {
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
